<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hearts</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles -->
    <link href="/css/hearts.css" rel="stylesheet">
    <link href="/css/cards.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Hearts - <small>game #{{gameId}} - Round 1</small></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">blank space</div>
      <div class="col-md-6 player player-2">
          <p>Player 2 (AI)</p>
          <div class="hand">
              <div class="card rank10 H">10 <br/> &heartsuit;</div>
              <div class="card rankJ H">J <br/> &heartsuit;</div>
          </div>
          <div class="hand">
              <div class="card rank2 C">2 <br/> &clubsuit;</div>
              <div class="card rank3 C">3 <br/> &clubsuit;</div>
          </div>
          <div class="hand">
              <div class="card rank5 D">5 <br/> &diamondsuit;</div>
              <div class="card rank6 D">6 <br/> &diamondsuit;</div>
          </div>
          <div class="hand">
              <div class="card rank7 S">7 <br/> &spadesuit;</div>
              <div class="card rankK S">K <br/> &spadesuit;</div>
          </div>
      </div>
      <div class="col-md-3">blank space</div>
    </div>
    <div class="row">
      <div class="col-md-3">Player 1 (AI)</div>
      <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">blank space</div>
            <div class="col-md-4">player 2 played card</div>
            <div class="col-md-4">blank space</div>
          </div>
          <div class="row">
              <div class="col-md-4">player 1 played card</div>
              <div class="col-md-4">blank space</div>
              <div class="col-md-4">player 3 played card</div>
          </div>
          <div class="row">
              <div class="col-md-4">blank space</div>
              <div class="col-md-4">your played card</div>
              <div class="col-md-4">blank space</div>
          </div>
      </div>
      <div class="col-md-3">Player 3 (AI)</div>
    </div>
    <div class="row">
      <div class="col-md-3">blank space</div>
      <div class="col-md-6">you</div>
      <div class="col-md-3">blank space</div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>