<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hearts</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles -->
    <link href="/css/hearts.css" rel="stylesheet">
    <link href="/css/cards.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Hearts - <small>game #{{gameId}} - Round 1</small></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 player player-2">
          <p>Player 2 (AI)</p>
          <div class="hand">
                <div class="card rank4 H">4 <br/> &heartsuit;</div>
                <div class="card rank9 C">9 <br/> &clubsuit;</div>
                <div class="card rank5 D">5 <br/> &diamondsuit;</div>
                <div class="card rank4 C">4 <br/> &clubsuit;</div>
                <div class="card rank8 C">8 <br/> &clubsuit;</div>
                <div class="card rankA H">A <br/> &heartsuit;</div>
                <div class="card rank9 S">9 <br/> &spadesuit;</div>
                <div class="card rank2 H">2 <br/> &heartsuit;</div>
                <div class="card rank10 H">10 <br/> &heartsuit;</div>
                <div class="card rank6 D">6 <br/> &diamondsuit;</div>
                <div class="card rank7 C">7 <br/> &clubsuit;</div>
                <div class="card rankA C">A <br/> &clubsuit;</div>
                <div class="card rank7 H">7 <br/> &heartsuit;</div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1 player player-1">
        <p>Player 1 (AI)</p>
            <div class="hand vertical">
                  <div class="card rankA S">A <br/> &spadesuit;</div>
                  <div class="card rank2 S">2 <br/> &spadesuit;</div>
                  <div class="card rank8 H">8 <br/> &heartsuit;</div>
                  <div class="card rank5 H">5 <br/> &heartsuit;</div>
                  <div class="card rankK D">K <br/> &diamondsuit;</div>
                  <div class="card rank7 S">7 <br/> &spadesuit;</div>
                  <div class="card rank3 C">3 <br/> &clubsuit;</div>
                  <div class="card rank7 D">7 <br/> &diamondsuit;</div>
                  <div class="card rank6 S">6 <br/> &spadesuit;</div>
                  <div class="card rankA D">A <br/> &diamondsuit;</div>
                  <div class="card rank3 S">3 <br/> &spadesuit;</div>
                  <div class="card rank6 C">6 <br/> &clubsuit;</div>
                  <div class="card rank6 H">6 <br/> &heartsuit;</div>
            </div>
      </div>
      <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">blank space</div>
            <div class="col-md-4">player 2 played card</div>
            <div class="col-md-4">blank space</div>
          </div>
          <div class="row">
              <div class="col-md-4">player 1 played card</div>
              <div class="col-md-4">blank space</div>
              <div class="col-md-4">player 3 played card</div>
          </div>
          <div class="row">
              <div class="col-md-4">blank space</div>
              <div class="col-md-4">your played card</div>
              <div class="col-md-4">blank space</div>
          </div>
      </div>
      <div class="col-md-3 player player-3">
        <p>Player 3 (AI)</p>
            <div class="hand vertical">
                  <div class="card rankJ D">J <br/> &diamondsuit;</div>
                  <div class="card rankK S">K <br/> &spadesuit;</div>
                  <div class="card rank8 D">8 <br/> &diamondsuit;</div>
                  <div class="card rank2 C">2 <br/> &clubsuit;</div>
                  <div class="card rankJ S">J <br/> &spadesuit;</div>
                  <div class="card rankQ D">Q <br/> &diamondsuit;</div>
                  <div class="card rank3 D">3 <br/> &diamondsuit;</div>
                  <div class="card rankK C">K <br/> &clubsuit;</div>
                  <div class="card rank4 S">4 <br/> &spadesuit;</div>
                  <div class="card rankJ C">J <br/> &clubsuit;</div>
                  <div class="card rank5 S">5 <br/> &spadesuit;</div>
                  <div class="card rank8 S">8 <br/> &spadesuit;</div>
                  <div class="card rank2 D">2 <br/> &diamondsuit;</div>
            </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 player you">
        <p>you</p>
          <div class="hand">
              <div class="card rankQ H">Q <br/> &heartsuit;</div>
              <div class="card rank5 C">5 <br/> &clubsuit;</div>
              <div class="card rank10 C">10 <br/> &clubsuit;</div>
              <div class="card rank4 D">4 <br/> &diamondsuit;</div>
              <div class="card rank9 H">9 <br/> &heartsuit;</div>
              <div class="card rankQ C">Q <br/> &clubsuit;</div>
              <div class="card rank10 D">10 <br/> &diamondsuit;</div>
              <div class="card rank10 S">10 <br/> &spadesuit;</div>
              <div class="card rankJ H">J <br/> &heartsuit;</div>
              <div class="card rankQ S">Q <br/> &spadesuit;</div>
              <div class="card rankK H">K <br/> &heartsuit;</div>
              <div class="card rank9 D">9 <br/> &diamondsuit;</div>
              <div class="card rank3 H">3 <br/> &heartsuit;</div>
          </div>
      </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>