/* Card styles taken from https://github.com/drake-p/playing-cards */
.cardstack, .hand {
  position: relative;
  height: 9.6em;
}

.hand.vertical {
   height: 40em;
}

.card {
  height: 8.85em;
  width: 6.4em;
  background: #fff url('/images/card-set.png') no-repeat;
  background-size: 1300% 400%;
  border: 1px solid #695d39;
  -webkit-border-radius:  .5em;
  -moz-border-radius:     .5em;
  border-radius:          .5em;
  -webkit-box-shadow:   0 0 .5em -.15em #000;
  -moz-box-shadow:      0 0 .5em -.15em #000;
  box-shadow:           0 0 .5em -.15em #000;
  font-family: 'Times', serif;
  text-align: left;
  line-height: 1em;
  padding-top: .25em;
  padding-left: .1em;
  letter-spacing: -.2em;
  position: absolute;
}

/* SUITS */
.C { background-position-y: 0%; color: #000; }
.D { background-position-y: 33.3%; color: #890000; }
.S { background-position-y: 66.7%; color: #000; }
.H { background-position-y: 100%; color: #890000; }

/* RANKS */
.rankA  { background-position-x: 0; }
.rank2  { background-position-x: 8.33%; }
.rank3  { background-position-x: 16.67%; }
.rank4  { background-position-x: 25%; }
.rank5  { background-position-x: 33.33%; }
.rank6  { background-position-x: 41.67%; }
.rank7  { background-position-x: 50%; }
.rank8  { background-position-x: 58.33%em; }
.rank9  { background-position-x: 66.67%; }
.rank10 { background-position-x: 75%;}
.rankK  { background-position-x: 83.33%; }
.rankQ  { background-position-x: 91.67%; }
.rankJ  { background-position-x: 100%; }

/* Lay cards out edge-to-edge */
.card:nth-of-type(1) { left: 0; }
.card:nth-of-type(2) { left: 7em; }
.card:nth-of-type(3) { left: 14em; }
.card:nth-of-type(4) { left: 21em; }
.card:nth-of-type(5) { left: 28em; }
.card:nth-of-type(6) { left: 35em; }
.card:nth-of-type(7) { left: 42em; }
.card:nth-of-type(8) { left: 49em; }
.card:nth-of-type(9) { left: 56em; }
.card:nth-of-type(10) { left: 63em; }
.card:nth-of-type(11) { left: 70em; }
.card:nth-of-type(12) { left: 77em; }
.card:nth-of-type(13) { left: 84em; }

/* Lay cards out in a stacked hand showing indices */
.hand .card:nth-of-type(1) { left: 0; }
.hand .card:nth-of-type(2) { left: 2em; }
.hand .card:nth-of-type(3) { left: 4em; }
.hand .card:nth-of-type(4) { left: 6em; }
.hand .card:nth-of-type(5) { left: 8em; }
.hand .card:nth-of-type(6) { left: 10em; }
.hand .card:nth-of-type(7) { left: 12em; }
.hand .card:nth-of-type(8) { left: 14em; }
.hand .card:nth-of-type(9) { left: 16em; }
.hand .card:nth-of-type(10) { left: 18em; }
.hand .card:nth-of-type(11) { left: 20em; }
.hand .card:nth-of-type(12) { left: 22em; }
.hand .card:nth-of-type(13) { left: 24em; }


    /* Lay cards out edge-to-edge */
.hand.vertical .card:nth-of-type(1) { left: 0; top: 0; }
.hand.vertical .card:nth-of-type(2) { left: 0; top: 2.5em; }
.hand.vertical .card:nth-of-type(3) { left: 0; top: 5em; }
.hand.vertical .card:nth-of-type(4) { left: 0; top: 7.5em; }
.hand.vertical .card:nth-of-type(5) { left: 0; top: 10em; }
.hand.vertical .card:nth-of-type(6) { left: 0; top: 12.5em; }
.hand.vertical .card:nth-of-type(7) { left: 0; top: 15em; }
.hand.vertical .card:nth-of-type(8) { left: 0; top: 17.5em; }
.hand.vertical .card:nth-of-type(9) { left: 0; top: 20em; }
.hand.vertical .card:nth-of-type(10) { left: 0; top: 22.5em; }
.hand.vertical .card:nth-of-type(11) { left: 0; top: 25em; }
.hand.vertical .card:nth-of-type(12) { left: 0; top: 27.5em; }
.hand.vertical .card:nth-of-type(13) { left: 0; top: 30em; }